@using BlogApp.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor _httpContextAccessor;

@{
    var request = _httpContextAccessor.HttpContext.Request;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/Identity/Account/Manage" ? "active" : string.Empty)" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Account/Logout" ? "active" : string.Empty)" asp-area="User" asp-page="/Account/Logout">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Account/Register" ? "active" : string.Empty)" asp-area="User" asp-page="/Account/Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Account/Login" ? "active" : string.Empty)" asp-area="User" asp-page="/Account/Login">Login</a>
    </li>
}
</ul>
