@using BlogApp.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor _httpContextAccessor;

@{
    var request = _httpContextAccessor.HttpContext.Request;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/Identity/Account/Manage" ? "active" : string.Empty)" asp-area="User" asp-controller="Manage" asp-action="Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Logout/Index" ? "active" : string.Empty)" asp-area="User" asp-controller="Logout" asp-action="Index">Logout</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Register/Index" ? "active" : string.Empty)" asp-area="User" asp-controller="Register" asp-action="Index">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Login/Index" ? "active" : string.Empty)" asp-area="User" asp-controller="Login" asp-action="Index">Login</a>
    </li>
}
</ul>
