@using BlogApp.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject IHttpContextAccessor _httpContextAccessor;

@{
    var request = _httpContextAccessor.HttpContext.Request;
}

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/Identity/Account/Manage" ? "active" : string.Empty)" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-controller="User" asp-action="Logout" asp-route-returnUrl="@Url.Action("All", "Home", new { area = "" })">
            <button  type="submit" class="nav-link btn btn-link">Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Register" ? "active" : string.Empty)" asp-area="" asp-controller="User" asp-action="Register">Register</a>
    </li>
    <li class="nav-item">
            <a class="nav-link @(request.Path == "/User/Login" ? "active" : string.Empty)" asp-area="" asp-controller="User" asp-action="Login">Login</a>
    </li>
}
</ul>
