@using System.Security.Claims
@model PostsViewModel

<div class="col-lg-6">
    <div class="card mb-4">
        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/700x350/dee2e6/6c757d.jpg" alt="..." /></a>
        <div class="card-body">
            <div class="small text-muted">Uploaded on @Model.CreatedOn</div>
            <h2 class="card-title h4">@Model.Title</h2>
            <p class="card-text">@Model.ShortDescription</p>
            <a class="btn btn-info" asp-controller="Post" asp-action="Details" asp-route-id="@Model.Id">Read more →</a>
            @if (User.Id() == Model.UserId)
            {
                <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
            }
        </div>
    </div>
</div>