@model AddPostFormModel

@{
    ViewData["Title"] = "Post Creation";
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="d-flex flex-column justify-content-evenly h-100">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form asp-action="Create" asp-controller="Post" method="post" id="post-form">
            <div class="mb-3">
                <label asp-for="Title" class="form-label-add-edit">Post Title</label>
                <input asp-for="Title" class="form-control" aria-required="true" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Content" class="form-label-add-edit">Post Content</label>
                <textarea asp-for="Content" class="form-control" rows="10" aria-required="true"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ShortDescription" class="form-label-add-edit">Post Short Description</label>
                <input asp-for="ShortDescription" class="form-control" aria-required="true" />
                <span asp-validation-for="ShortDescription" class="text-danger"></span>
            </div>

            <div class="d-flex flex-row gap-3">
                <div class="mb-3">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Select Categories
                        </button>
                        <ul class="dropdown-menu" id="category-dropdown" aria-labelledby="dropdownMenuButton">
                            @foreach (var category in Model.Categories)
                            {
                                <li>
                                    <a class="dropdown-item">
                                        <div class="form-check">
                                            <input asp-for="@category.IsSelected" class="form-check-input" value="@category.Id" id="@category.Name" />
                                            <label asp-for="@category.Name" class="form-check-label">@category.Name</label>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="mb-3">
                    <div class="dropdown">
                        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false">
                            Select Tags
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            @foreach (var tag in Model.Tags)
                            {
                                <li>
                                    <a class="dropdown-item">
                                        <div class="form-check">
                                            <input asp-for="@tag.IsSelected" class="form-check-input" value="@tag.Id" id="@tag.Name" />
                                            <label asp-for="@tag.Name" class="form-check-label">@tag.Name</label>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </div>

            <div class="mb-3">
                <input class="btn btn-dark mb-2 w-100 p-3 fw-bold" type="submit" value="Create" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}