@using System.Security.Claims
@model PostDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
    Layout = "~/Views/Shared/_LayoutPostDetails.cshtml";
}

<div class="col-lg-8 post">
    <h1>@Model.Title</h1>
    <h5>Written by @Model.UserName.<br />Updated on @Model.UpdatedOn</h5>
    <p>
        @Model.Content
    </p>
    @if (User.Id() == Model.UserId)
    {
        <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
</div>