@using System.Security.Claims

@model PostDetailsViewModel

@{
    ViewData["Title"] = Model.Title;
}

<div class="col-lg-8 post">
    <h5>Written by @Model.UserName.<br />Updated on @Model.UpdatedOn</h5>
    <p>
        @Model.Content
    </p>
    @if (User.Id() == Model.UserId)
    {
        <a class="btn btn-primary" asp-controller="Post" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
        <a class="btn btn-danger" asp-controller="Post" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
    }
    <div class="container">
        @await Component.InvokeAsync(nameof(CommentFormComponent), new { id = Model.Id })
    </div>
</div>

@await Component.InvokeAsync(nameof(SideWidgetsComponent))