@using System.Security.Claims

@model List<AllPostsViewModel>

@{
    ViewData["Title"] = "All Posts";
}

<div class="col-lg-8">
    @if (Model.Count > 0)
    {
        <div class="row">
            @foreach (var post in Model)
            {
                <div class="col-lg-6">
                    <div class="card mb-4">
                        <div class="card-header">@post.Title</div>
                        <div class="card-body">
                            <p class="card-text">@post.ShortDescription</p>
                            <div class="small text-muted">Updated on @post.UpdatedOn.ToString(PostDateFormat)</div>
                            <a class="btn btn-info" asp-controller="Post" asp-action="Details" asp-route-id="@post.Id">Read more →</a>
                            @if (User.Id() == post.UserId)
                            {
                                <a class="btn btn-primary" asp-route-id="@post.Id">Edit</a>
                                <a class="btn btn-danger" asp-route-id="@post.Id">Delete</a>
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <p>No post entries!</p>
    }
</div>