@model List<ContactAdminViewModel>

@{
    ViewData["Title"] = "Contact Form Entries";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int num = 1;
    string messageSubstring = string.Empty;
}

<div class="container mt-5">
    <h1 class="text-center">All Submitted Contact Forms</h1>

    @if (Model.Count > 0)
    {
        <div class="table-responsive mt-4">
            <table id="reportsTable" class="table table-light table-striped table-bordered">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>
                        <th scope="col">Submitted On</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var contactForm in Model)
                    {
                        <tr>
                            <th scope="row">@num</th>
                            <td>@contactForm.Name</td>
                            <td>@contactForm.UserName</td>
                            <td>@contactForm.Email</td>
                            <td>@contactForm.Subject</td>
                            <td>
                                @if (contactForm.Message.Length > 30)
                                {
                                    string splitedMessage = contactForm.Message.Substring(0, 27) + "...";
                                    messageSubstring = splitedMessage;
                                }
                                else
                                {
                                    messageSubstring = contactForm.Message;
                                }
                                @messageSubstring
                            </td>
                            <td>@contactForm.CreatedOn</td>
                            <td>
                                <div class="d-flex flex-row">
                                    <a asp-controller="Admin" asp-action="PreviewContactFormEntry" asp-route-id="@contactForm.Id" class="btn btn-primary m-2">View</a>
                                    <form method="post" asp-controller="Admin" asp-action="ContactFormDeleteConfirmed" asp-route-id="@contactForm.Id">
                                        <!-- Button trigger modal -->
                                        <input class="btn btn-danger m-2" type="button" value="Delete" data-bs-toggle="modal" data-bs-target="#staticBackdrop@(num)" />

                                        <!-- Modal -->
                                        <div class="modal fade" id="staticBackdrop@(num)" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Deleting Report</h1>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Are you sure you want to delete this report?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                        <input type="submit" class="btn btn-danger" value="Delete" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </td>
                        </tr>

                        num++;
                    }
                </tbody>

                <tfoot class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">UserName</th>
                        <th scope="col">Email</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Message</th>
                        <th scope="col">Submitted On</th>
                        <th scope="col">Actions</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    }
    else
    {
        <h3 class="text-center mt-4">No contact forms submitted for now.</h3>
    }
</div>