@using BlogApp.Core.Models.Identity

@model List<ApplicationUserViewModel>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    int num = 1;
}

<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>

    <!-- Cards -->
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Admins</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Admin" asp-action="DashboardWithAdmins">View Admins' Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">Users</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Admin" asp-action="DashboardWithUsers">View Users' Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body">All Users</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Admin" asp-action="Dashboard">View All Users' Details</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div class="card-body">Add Admin</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link" asp-controller="Admin" asp-action="AddAdmin">Add A New Admin</a>
                    <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Table -->
    <div class="table-responsive">
        <table id="usersTable" class="table table-light table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Post Count</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <th scope="row">@num</th>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>@user.Role</td>
                        <td>@user.PostCount</td>
                        @if (String.IsNullOrEmpty(user.PhoneNumber))
                        {
                            <td>NULL</td>
                        }
                        else
                        {
                            <td scope="col">@user.PhoneNumber</td>
                        }
                    </tr>
                    num++;
                }
            </tbody>
            <tfoot class="table-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Post Count</th>
                    <th scope="col">Phone Number</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>