@model ContactAdminViewModel

@{
    ViewData["Title"] = "Contact Form Preview";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-sm">
    <div class="card text-bg-dark text-center" style="margin-top: 10em;">
        <div class="card-header">
            <h3>Contact Form Number: @Model.Id</h3>
        </div>
        <div class="card-body">
            <h4 class="card-title p-3">Name: @Model.UserName</h4>
            <h5 class="card-text p-3">Email: @Model.Email</h5>
            <h5 class="card-text p-3">Subject: @Model.Subject</h5>
            <h5 class="card-text p-3">Message: @Model.Message</h5>
            <div class="d-flex flex-row justify-content-center">
                <a class="btn btn-primary m-1" asp-action="ContactFormEntries" asp-controller="Admin">Back To Contact Forms</a>
                <form method="post" asp-controller="Admin" asp-action="ContactFormDeleteConfirmed" asp-route-reportId="@Model.Id">
                    <!-- Button trigger modal -->
                    <input class="btn btn-danger m-1" type="button" value="Delete Contact Form" data-bs-toggle="modal" data-bs-target="#staticBackdrop" />

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Deleting Report</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Are you sure you want to delete this report?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-danger" value="Delete" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="card-footer">
            <h5>Submitted by @Model.UserName on @Model.CreatedOn</h5>
        </div>
    </div>
</div>