@using BlogApp.Core.Models.Identity

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutWithoutWidgets.cshtml";
}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="card shadow-lg border-0 rounded mt-5">
            <div class="card-header">
                <h3 class="text-center font-weight-light my-4">Create Account</h3>
            </div>
            <div class="card-body">
                <form id="registerForm" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" type="text" autocomplete="given-name" aria-required="true" placeholder="Enter your first name" asp-for="@Model.FirstName" />
                                <label asp-for="@Model.FirstName">First Name</label>
                                <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input class="form-control" type="text" autocomplete="family-name" aria-required="true" placeholder="Enter your last name" asp-for="@Model.LastName" />
                                <label asp-for="@Model.LastName">Last Name</label>
                                <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" autocomplete="username" aria-required="true" placeholder=" Enter your username" asp-for="@Model.UserName" />
                        <label asp-for="@Model.UserName">Username</label>
                        <span asp-validation-for="@Model.UserName" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" type="email" autocomplete="email" aria-required="true" placeholder="name@example.com" asp-for="@Model.Email" />
                        <label asp-for="@Model.Email">Email</label>
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Create a password" asp-for="@Model.Password" />
                                <label asp-for="@Model.Password">Password</label>
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating mb-3 mb-md-0">
                                <input class="form-control" type="password" autocomplete="new-password" aria-required="true" placeholder="Confirm password" asp-for="@Model.ConfirmPassword" />
                                <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-4 mb-0">
                        <div class="d-grid">
                            <button id="registerSubmit" type="submit" class="btn btn-primary">Create Account</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer text-center py-3">
                <div class="small">
                    <a asp-controller="User" asp-action="Login">Have an account? Go to login</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}