@using BlogApp.Core.Contracts
@using Microsoft.AspNetCore.Http
@using System.Net.Http

@inject IHttpContextAccessor _httpContextAccessor
@inject ICategoryService _categoryService
@inject ITagService _tagService

@{
    var request = _httpContextAccessor.HttpContext.Request;

    var sideWidgetsModel = new SideWidgetsViewModel()
    {
        Categories = await _categoryService.GetCategoriesAsync(),
        Tags = await _tagService.GetTagsAsync()
    };

    bool mine = request.Path == "/Post/Mine";
}

<!-- Side widgets -->
<div class="col-lg-4">
    <!-- Categories widget-->
    <div class="card mb-4">
        <div class="card-header">
            Categories
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var cat in sideWidgetsModel.Categories)
            {
                <a class="list-group-item list-group-item-action"
                   asp-route-categoryName="@cat.Name"
                   asp-controller="@(mine ? "Post" : "Home")"
                   asp-action="@(mine ? "Mine" : "All")">
                    @cat.Name
                </a>
            }
        </ul>
    </div>
    <!-- Tags widget-->
    <div class="card mb-4">
        <div class="card-header">
            Tags
        </div>
        <ul class="list-group list-group-flush">
            @foreach (var tag in sideWidgetsModel.Tags)
            {
                <a class="list-group-item list-group-item-action"
                   asp-route-tagName="@tag.Name"
                   asp-controller="@(mine ? "Post" : "Home")"
                   asp-action="@(mine ? "Mine" : "All")">
                    @tag.Name
                </a>
            }
        </ul>
    </div>
</div>